body {
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 0px; */
  margin: 5px;
}
div {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(46, 200, 102);
}

label {
  font-size: large;
}

/* .allLables {
  font-size: 20px;
} */

.fileExplorer {
  display: inline-block;
  padding: 12px 25px;
  background: #080808;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s ease;
  user-select: none;
}

button {
  background: #131414;
  color: white;
  padding: 12px 22px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.pageHeaderdiv {
  padding: 0px;
  background-color: rgb(18, 20, 24);
  -webkit-text-fill-color: #ffff;
  font-size: 40px;
  height: 50px;
  text-align: -webkit-center;
  border-style: solid;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.uploadfilediv {
  padding: 10px;
  border-style: solid;
  padding-left: 10px;
}

.validateFilediv {
  padding: 10px;
  border-style: solid;
  font-size: large;
}
.txtAreadiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* align-content: flex-start; */
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  background-color: rgb(247, 248, 253);
}
.textareabox {
  background: #f8fafc;
  border: 1px solid #cbd5e1;
  height: 600px;
  width: 830px;
  --monaco-monospace-font: "SF Mono", Monaco, Menlo, Consolas, "Ubuntu Mono",
    "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
  resize: none;
}

.txtAreadiv textarea {
  flex: 1;
  font-size: large;
  max-width: 910px;
  max-height: 910px;
}
.textareabox pre {
  flex: 1;
  max-width: 900px;
  max-height: 908px;
}
#obox {
  flex: 1;
  max-width: 900px;
  max-height: 1000px;
  font-family: "Fira code", monospace;
  text-wrap: wrap;
  color: #c5c5c5;
  background: #1e1e1e;
  color: #c5c5c5;
  padding: 15px;
  border-radius: 6px;
  white-space: pre-wrap;
  resize: none;
}

.txtAreadiv div {
  background-color: inherit;
}
.dynamic-textbox {
  margin-right: 30px;
}

.errordiv {
  background-color: white;
}
